/* MOVE values to global theme */
.open_button {
	position: absolute;
	top: 0;
	right: 0;
}

.modal {
    background-color: #F4F5F7;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    outline: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal_content {
  min-width: 360px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.modal_header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal_body {
  padding: 1rem;
}

.form_group {
  width: 100%;
  margin-bottom: 1rem;
}

.form_label {
  display: block;
  margin-bottom: 5px;
}

.form_control {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.button_group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid lightgray;
  color: white;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn_primary {
  background-color: #213cd1;
  color: white;
}

.btn_primary:hover {
  background-color: #364dd1;
  color: white;
}

.btn_secondary {
  background-color: #d42929;
  color: white;
}

.btn_secondary:hover {
  background-color: #d34949;
  color: white;
}

