.wrapper {
  background-color: var(--background-color);
  height: 100vh;
}

.col_wrapper {
  position: relative;
    padding: 0.7rem;
    background-color: var(--background-column);
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
}

.columns {
	display: flex;
	overflow-x: scroll;
}
